.reg-item {
    margin-bottom: 30px;
}
.reg-item>h1 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}
.reg-item table {
    table-layout: fixed;
    width: 100%;
}
.reg-item td {
    padding: 10px 0;
    box-sizing: border-box;
    min-height: 60px;
    border-bottom: 1px solid #ddd;
}
.reg-item input, select {
    padding: 3px;
}
.reg-item textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
}
.reg-item .add-row input {
    margin-bottom: 10px;
}
.reg-item .add-row .address {
    width: 500px;
}