@import url(layout.css);
@import url(component.css);
@import url(delivery.css);
@import url(location.css);
@import url(signup.css);
@import url(login.css);
@import url(item.css);

.d-none {
    display: none;
}
.font-color-orange {
    color: orange;
}

.title-col {
    width: 150px;
}
input[type="button"], input[type="submit"] {
	cursor: pointer;
}