/*-----�꽌釉뚰럹�씠吏�-----*/

/*header*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
    min-height: 50px;
    border-bottom: 1px solid #979797;
    
    padding: 0 30px;
    box-sizing: border-box;
}
.main-header {
    min-height: 50px;
    border-bottom: 1px solid #979797;
    box-sizing: border-box;
}
.main-header>div {
	padding: 0 30px;
    box-sizing: border-box;
	height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	
    border-bottom: 1px solid #979797;
}
/*main*/
.main {
    min-height: 700px;
}

/*footer*/
.footer {
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f2;
}